<page-header>
    <div class="pull-left header">
        <h3 class="title">Edit</h3>
        <h5><span>Create order</span></h5>
    </div>
</page-header>

<breadrcumb>
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">
            <a ui-sref="order.search">Orders</a>
        </span>

        <span class="breadcrumb-arrow"><span></span></span>
    </div>

    <div class="breadcrumb-button">
        <span class="breadcrumb-label">Edit</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
</breadrcumb>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-content padded">
                    <form class="form-horizontal diary-form order-form" ng-submit="update()">
                        <tabset>
                            <tab heading="Info">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Client:</label>

                                    <div class="col-md-10 form-text">{{ order.client.name }}</div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Factory:</label>

                                    <div class="col-md-10 form-text">{{ order.factory.name }}</div>
                                </div>

                                <div class="form-group" ng-class="{'has-error': order.errors.stage}">
                                    <label class="col-md-2 control-label">Stage:</label>

                                    <div class="col-md-10">
                                        <ui-select ng-model="order.stage" style="width: 100%" ng-disabled="order.processed">
                                            <ui-select-match placeholder="Choose stage">{{ order.stage.label }}</ui-select-match>
                                            <ui-select-choices repeat="stage in stages">{{ stage.label }}</ui-select-choices>
                                        </ui-select>

                                        <p class="text-danger help-block" ng-if="order.errors.stage">{{ order.errors.stage }}</p>
                                    </div>
                                </div>

                                <div class="money form-group" ng-class="{'has-error': order.errors['money.amount']}">
                                    <label class="col-md-2 control-label">Money:</label>

                                    <div class="col-md-10">
                                        <input type="number" step="0.01" min="0" class="amount form-control" ng-model="order.money.amount" />

                                        <div class="clearfix"></div>

                                        <div ng-if="order.errors['money.currency']" class="text-danger help-block">{{ order.errors['money.amount'] }}</div>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{'has-error': order.errors['money.currency'] }">
                                    <label class="col-md-2 control-label">Currency:</label>

                                    <div class="col-md-10">
                                        <div style="width: 100px;">
                                            <select ng-model="order.money.currency" class="currency form-control" required>
                                                <option ng-repeat="currency in currencies" value="{{ currency.code }}">{{ currency.code }}</option>
                                            </select>
                                        </div>

                                        <div ng-if="order.errors['money.currency']" class="help-block text-danger">{{ order.errors['money.currency'] }}</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Document #:</label>

                                    <div class="col-md-10">
                                        <input ng-model="order.documentNumber" type="text" class="form-control" ng-disabled="order.processed" />
                                    </div>
                                </div>

                                <div class="form-group comment">
                                    <label class="col-md-2 control-label">Comment:</label>

                                    <div class="col-md-10">
                                        <textarea ng-model="order.comment" class="form-control" ng-disabled="order.processed"></textarea>
                                    </div>
                                </div>
                            </tab>

                            <tab heading="Attachments">
                                <div class="upload-buttons">
                                    <div class="pull-left">
                                        <div class="btn-add-file">
                                            <button class="btn btn-success">
                                                <i class="fa fa-plus"></i>
                                                Add file
                                            </button>

                                            <input type="file" nv-file-select uploader="uploader" multiple />
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>

                                <table class="table attachment-list">
                                    <thead>
                                    <tr>
                                        <th style="width:50%" >Name</th>
                                        <th ng-show="uploader.isHTML5" class="text-center">Size</th>
                                        <th ng-show="uploader.isHTML5" class="text-center">Progress</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr ng-repeat="item in uploader.queue">
                                        <td class="name">{{ item.file.name }}</td>

                                        <td ng-show="uploader.isHTML5" class="text-center">{{ item.file.size/1024/1024|number:2 }} MB</td>

                                        <td ng-show="uploader.isHTML5" class="text-center">
                                            <div class="progress" style="margin-bottom: 0;">
                                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                            </div>
                                        </td>

                                        <td class="text-center">
                                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                        </td>

                                        <td nowrap class="text-center">
                                            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                <span class="glyphicon glyphicon-upload"></span> Upload
                                            </button>

                                            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                            </button>

                                            <button type="button" class="btn btn-danger btn-xs" ng-click="removeAttachment(item)">
                                                <span class="glyphicon glyphicon-trash"></span> Remove
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </tab>
                        </tabset>

                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-success" ng-disabled="order.processed">
                                <i class="fa fa-spinner animation" ng-if="order.processed"></i>
                                Update
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>