<page-header>
    <div class="pull-left header">
        <h3 class="title">Search</h3>
        <h5><span>Search orders</span></h5>
    </div>

    <div class="pull-right" ng-if="accesses.orderCreate">
        <a ui-sref="order.create({from: 'order.search'})" class="btn btn-primary" ng-if="accesses.orderCreate">
            <i class="fa fa-plus"></i>
            Order
        </a>
    </div>
</page-header>

<breadrcumb>
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">
            <a ui-sref="order.search">Orders</a>
        </span>

        <span class="breadcrumb-arrow"><span></span></span>
    </div>

    <div class="breadcrumb-button">
        <span class="breadcrumb-label">Search</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
</breadrcumb>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- Search box -->
            <div class="box">
                <div class="box-content padded">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="control-label">Creators:</label>

                            <ui-select multiple ng-model="search.creators" ng-disabled="search.processed">
                                <ui-select-match>{{ $item.username }}</ui-select-match>
                                <ui-select-choices repeat="creator in creators">{{ creator.username }}</ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="col-md-6 form-group">
                            <label class="control-label">Factories:</label>

                            <ui-select multiple ng-model="search.factories" ng-disable="search.processed">
                                <ui-select-match>{{ $item.name }}</ui-select-match>
                                <ui-select-choices repeat="factory in factories">{{ factory.name }}</ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="control-label">Clients:</label>

                            <ui-select multiple ng-model="search.clients" ng-disabled="search.processed">
                                <ui-select-match>{{ $item.name }}</ui-select-match>
                                <ui-select-choices repeat="client in clients">{{ client.name }}</ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="col-md-6 form-group">
                            <label class="control-label">Stages:</label>

                            <ui-select multiple ng-model="search.stages" ng-disabled="search.processed">
                                <ui-select-match>{{ $item.label }}</ui-select-match>
                                <ui-select-choices repeat="stage in stages">{{ stage.label }}</ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="control-label">Countries:</label>

                            <ui-select multiple ng-model="search.countries" ng-disable="search.processed">
                                <ui-select-match>{{ $item.name }}</ui-select-match>
                                <ui-select-choices repeat="country in countries">{{ country.name }}</ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="col-md-6 form-group">
                            <label class="control-label">Cities:</label>

                            <ui-select multiple ng-model="search.cities" ng-disable="search.processed">
                                <ui-select-match>{{ $item }}</ui-select-match>
                                <ui-select-choices repeat="city in cities">{{ city }}</ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label class="control-label">Created from:</label>

                            <p class="input-group">
                                <input
                                        type="text"
                                        class="form-control"
                                        uib-datepicker-popup
                                        ng-model="search.createdFrom"
                                        close-text="Close"
                                        is-open="dtPicker.createdFrom.opened"
                                        show-weeks="false"
                                        starting-day="1"
                                        ng-focus="dtPickerOpen('createdFrom')"
                                />

                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="dtPickerOpen('createdFrom')">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </p>
                        </div>

                        <div class="col-md-3">
                            <label class="control-label">Created to:</label>

                            <p class="input-group">
                                <input
                                        type="text"
                                        class="form-control"
                                        uib-datepicker-popup
                                        ng-model="search.createdTo"
                                        close-text="Close"
                                        is-open="dtPicker.createdTo.opened"
                                        ng-focus="dtPickerOpen('createdTo')"
                                />

                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="dtPickerOpen('createdTo')">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End search box -->

            <div class="box">
                <div class="box-content padded">
                    <table class="table order-table">
                        <thead>
                        <tr>
                            <th class="text-center">Creator</th>
                            <th class="text-center">Created</th>
                            <th class="text-center">Updated</th>
                            <th class="text-center">Stage</th>
                            <th class="text-center">Factories</th>
                            <th class="text-center">Client</th>
                            <th class="text-center">Money</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>

                        <tbody ng-if="pagination.storage.length > 0">
                        <tr ng-repeat="order in pagination.storage" class="text-center" ng-class="{'success': order.id == activeId}">
                            <td class="text-small">{{ order.creator.username }}</td>

                            <td>
                                <div class="datetime">
                                    <div class="date">{{ order.createdAt|date:'MMM dd, yyyy' }}</div>
                                    <div class="time">{{ order.createdAt|date:'HH:mm' }}</div>
                                </div>
                            </td>

                            <td>
                                <div class="datetime">
                                    <div class="date">{{ order.updatedAt|date:'MMM dd, yyyy' }}</div>
                                    <div class="time">{{ order.updatedAt|date:'HH:mm' }}</div>
                                </div>
                            </td>

                            <td class="text-small">
                                {{ order.stage.label }}
                            </td>

                            <td>
                                <div class="text-small">{{ order.factory.name }}</div>
                            </td>

                            <td>
                                {{ order.client.name }}
                            </td>

                            <td>
                                <div ng-bind-html="order.money | money | sanitize"></div>
                            </td>

                            <td>
                                <div class="btn-group" ng-if="accesses.orders[order.id].edit || accesses.orders[order.id].view">
                                    <button type="button" class="btn btn-default dropdown-toggle center-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i ng-if="order.processed" class="fa fa-spinner animation"></i>
                                        Actions
                                        <span class="caret"></span>
                                    </button>

                                    <ul class="dropdown-menu">
                                        <li ng-if="accesses.orders[order.id].view">
                                            <a ng-click="view(order.id)">
                                                <i class="fa fa-eye"></i>
                                                View
                                            </a>
                                        </li>

                                        <li ng-if="accesses.orders[order.id].edit">
                                            <a ng-click="edit(order.id)">
                                                <i class="fa fa-edit"></i>
                                                Edit
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </td>
                        </tr>
                        </tbody>

                        <tbody ng-if="pagination.storage.length == 0">
                        <tr>
                            <td colspan="8" class="text-center">
                                Not found order.
                                <span ng-if="accesses.orderCreate">You can <a ui-sref="order.create">create</a> order.</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="text-center">
                        <uib-pagination
                                ng-change="changePage()"
                                total-items="pagination.totalItems"
                                items-per-page="pagination.limit"
                                ng-model="pagination.page"
                                max-size="7"
                                class="pagination-sm"
                                boundary-links="true"
                        ></uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>