<breadrcumb>
    <li><a ui-sref="diary.search">Diaries</a></li>
    <li>Create</li>
</breadrcumb>

<page-header>Create diary</page-header>

<div class="row">
    <form class="form-horizontal diary-form" ng-submit="create()">
        <tabset>
            <tab heading="Info">
                <div class="form-group">
                    <label class="col-md-2 control-label">Client:</label>

                    <div class="col-md-10">
                        <ui-select ng-model="diary.client" style="width: 100%">
                            <ui-select-match placeholder="Choose client" allow-clear="true">{{ diary.client.name }}</ui-select-match>
                            <ui-select-choices repeat="client in clients">{{ client.name }}</ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Factories:</label>

                    <div class="col-md-10">
                        <ui-select multiple ng-model="diary.factories" style="width: 100%;">
                            <ui-select-match placeholder="Choose factories">{{ $item.name }}</ui-select-match>
                            <ui-select-choices repeat="factory in factories">{{ factory.name }}</ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="money form-group" ng-class="{'has-error': diary.errors['money.currency'] || diary.errors['money.amount']}">
                    <label class="col-md-2 control-label">Money:</label>

                    <div class="col-md-10">
                        <input type="number" step="0.01" min="0" class="amount form-control" ng-model="diary.money.amount" />
                        <select ng-model="diary.money.currency" class="currency form-control">
                            <option ng-repeat="currency in currencies" value="{{ currency.code }}">{{ currency.code }}</option>
                        </select>

                        <div class="clearfix"></div>

                        <div ng-if="diary.errors['money.currency'] || diary.errors['money.amount']" class="text-danger help-block">
                            <div ng-if="diary.errors['money.amount']">{{ diary.errors['money.amount'] }}</div>
                            <div ng-if="diary.errors['money.currency']">{{ diary.errors['money.currency'] }}</div>
                        </div>
                    </div>
                </div>

                <div class="form-group comment">
                    <label class="col-md-2 control-label">Comment:</label>

                    <div class="col-md-10">
                        <textarea ng-model="diary.comment" class="form-control"></textarea>
                    </div>
                </div>
            </tab>

            <tab heading="Order"></tab>

            <tab heading="Catalogs"></tab>

            <tab heading="Attachments"></tab>
        </tabset>

        <div class="form-group text-center">
            <button type="submit" class="btn btn-success">
                <i class="fa fa-spinner animation" ng-if="diary.processed"></i>
                Create
            </button>
        </div>
    </form>
</div>
