<page-header>
    <div class="pull-left header">
        <h3 class="title">Diaries</h3>
        <h5><span>Search diaries</span></h5>
    </div>

    <div class="pull-right" ng-if="accesses.diaryCreate || accesses.orderCreate">
        <a ui-sref="diary.create" class="btn btn-primary" ng-if="accesses.diaryCreate">
            <i class="fa fa-plus"></i>
            Create diary
        </a>

        <a ui-sref="order.create" class="btn btn-primary" ng-if="accesses.orderCreate">
            <i class="fa fa-plus"></i>
            Create order
        </a>
    </div>
</page-header>

<breadrcumb>
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">
            <a ui-sref="diary.search">Diaries</a>
        </span>

        <span class="breadcrumb-arrow"><span></span></span>
    </div>

    <div class="breadcrumb-button">
        <span class="breadcrumb-label">Search</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
</breadrcumb>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-content padded">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="control-label">Creators:</label>

                            <ui-select multiple ng-model="search.creators" ng-disabled="search.processed">
                                <ui-select-match>{{ $item.username }}</ui-select-match>
                                <ui-select-choices repeat="creator in creators">{{ creator.username }}</ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="col-md-6 form-group">
                            <label class="control-label">Factories:</label>

                            <ui-select multiple ng-model="search.factories" ng-disable="search.processed">
                                <ui-select-match>{{ $item.name }}</ui-select-match>
                                <ui-select-choices repeat="factory in factories">{{ factory.name }}</ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="control-label">Clients:</label>

                            <ui-select multiple ng-model="search.clients" ng-disabled="search.processed">
                                <ui-select-match>{{ $item.name }}</ui-select-match>
                                <ui-select-choices repeat="client in clients">{{ client.name }}</ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="col-md-6 form-group">
                            <label class="control-label">Stages:</label>

                            <ui-select multiple ng-model="search.stages" ng-disabled="search.processed">
                                <ui-select-match>{{ $item.label }}</ui-select-match>
                                <ui-select-choices repeat="stage in stages">{{ stage.label }}</ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="control-label">Countries:</label>

                            <ui-select multiple ng-model="search.countries" ng-disable="search.processed">
                                <ui-select-match>{{ $item.name }}</ui-select-match>
                                <ui-select-choices repeat="country in countries">{{ country.name }}</ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="col-md-6 form-group">
                            <label class="control-label">Cities:</label>

                            <ui-select multiple ng-model="search.cities" ng-disable="search.processed">
                                <ui-select-match>{{ $item }}</ui-select-match>
                                <ui-select-choices repeat="city in cities">{{ city }}</ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label">Types:</label>

                            <ui-select multiple ng-model="search.types" ng-disable="search.processed">
                                <ui-select-match>{{ $item.fullName }}</ui-select-match>
                                <ui-select-choices repeat="type in types">
                                    <span ng-if="type.level > 0">
                                        <span ng-repeat="i in levels(type) track by $index">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    </span>

                                    {{ type.name }}
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="col-md-3">
                            <label class="control-label">Created from:</label>

                            <p class="input-group">
                                <input
                                        type="text"
                                        class="form-control"
                                        uib-datepicker-popup
                                        ng-model="search.createdFrom"
                                        close-text="Close"
                                        is-open="dtPicker.createdFrom.opened"
                                        show-weeks="false"
                                        starting-day="1"
                                        ng-focus="dtPickerOpen('createdFrom')"
                                />

                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="dtPickerOpen('createdFrom')">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </p>
                        </div>

                        <div class="col-md-3">
                            <label class="control-label">Created to:</label>

                            <p class="input-group">
                                <input
                                        type="text"
                                        class="form-control"
                                        uib-datepicker-popup
                                        ng-model="search.createdTo"
                                        close-text="Close"
                                        is-open="dtPicker.createdTo.opened"
                                        ng-focus="dtPickerOpen('createdTo')"
                                />

                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="dtPickerOpen('createdTo')">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="box-content padded">
                    <table class="table diary-table">
                        <thead>
                        <tr>
                            <th class="text-center">Creator</th>
                            <th class="text-center">Mode</th>
                            <th class="text-center">Type</th>
                            <th class="text-center">Created</th>
                            <th class="text-center">Stage</th>
                            <th class="text-center">Factories</th>
                            <th class="text-center">Client</th>
                            <th class="text-center">Document</th>
                            <th class="text-center">Money</th>
                            <th class="text-center">Comment</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>

                        <tbody ng-if="pagination.storage.length > 0">
                        <tr ng-repeat="diary in pagination.storage" class="text-center" ng-class="{'warning': diary.removedAt}">
                            <td class="text-small">{{ diary.creator.username }}</td>

                            <td>
                                <span class="label label-info" ng-if="!diary.order">Diary</span>
                                <span class="label label-success" ng-if="diary.order">Order</span>
                            </td>

                            <td>
                                <span ng-if="!diary.order && diary.type">{{ diary.type.fullName }}</span>
                            </td>

                            <td>
                                <div class="datetime">
                                    <div class="date">{{ diary.createdAt|date:'MMM dd, yyyy' }}</div>
                                    <div class="time">{{ diary.createdAt|date:'HH:mm' }}</div>
                                </div>
                            </td>

                            <td>
                                <div ng-if="diary.stage">{{ diary.stage.label }}</div>
                            </td>

                            <td>
                                <div class="text-small factories">
                                    <span ng-repeat="factory in diary.factories" class="factory">{{ factory.name }}</span>
                                </div>
                            </td>

                            <td>
                                <div ng-if="diary.client">{{ diary.client.name }}</div>
                            </td>

                            <td>
                                <div ng-if="diary.documentNumber" class="text-muted text-small">{{ diary.documentNumber }}</div>
                            </td>

                            <td>
                                <div ng-if="diary.money && diary.money.amount">
                                    <div ng-bind-html="diary.money | money | sanitize"></div>
                                </div>
                            </td>

                            <td>
                                <div class="text-very-small text-muted">{{ diary.comment | limitTo:50 }}</div>
                            </td>

                            <td>
                                <div class="btn-group" ng-if="accesses.diaries[diary.id].edit || (accesses.diaries[diary.id].restore && diary.removedAt) || (accesses.diaries[diary.id].remove && !diary.removedAt)">
                                    <button type="button" class="btn btn-default dropdown-toggle center-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i ng-if="diary.processed" class="fa fa-spinner animation"></i>
                                        Actions
                                        <span class="caret"></span>
                                    </button>

                                    <ul class="dropdown-menu">
                                        <li ng-if="accesses.diaries[diary.id].edit">
                                            <a ui-sref="diary.edit({diary: diary.id})">
                                                <i class="fa fa-edit"></i>
                                                Edit
                                            </a>
                                        </li>

                                        <li class="divider" ng-if="(accesses.diaries[diary.id].remove || accesses.diaries[diary.id].restore) && !diary.order"></li>

                                        <li ng-if="!diary.removedAt && accesses.diaries[diary.id].remove && !diary.order">
                                            <a ng-click="remove(diary.id)">
                                                <span class="text-danger">
                                                    <i class="fa fa-remove"></i>
                                                    Remove
                                                </span>
                                            </a>
                                        </li>

                                        <li ng-if="diary.removedAt && accesses.diaries[diary.id].restore && !diary.order">
                                            <a ng-click="restore(diary.id)">
                                                <span class="text-success">
                                                    <i class="fa fa-repeat"></i>
                                                    Restore
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>

                        <tbody ng-if="pagination.storage.length == 0">
                        <tr>
                            <td colspan="9" class="text-center">
                                Not found diaries. You can <a ui-sref="diary.create">create</a> diary.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>