<div class="navbar-default sidebar" role="navigation" ng-controller="SidebarController">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <li ui-sref-active="active">
                <a ui-sref="dashboard.home"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>

            <li ng-if="access.diaryList">
                <a ui-sref="diary.search">
                    <i class="fa fa-list"></i>
                    Diaries
                </a>
            </li>

            <li ng-if="access.orderList">
                <a ui-sref="order.search">
                    <i class="fa fa-list"></i>
                    Orders
                </a>
            </li>

            <li ng-if="access.factoryList">
                <a ui-sref="factory.search">
                    <i class="fa fa-list"></i>
                    Factories
                </a>
            </li>

            <li ng-if="access.clientList">
                <a ui-sref="client.search">
                    <i class="fa fa-list"></i>
                    Clients
                </a>
            </li>

            <li ng-if="access.catalogList">
                <a ui-sref="catalog.search">
                    <i class="fa fa-list"></i>
                    Catalogs
                </a>
            </li>

            <li ng-if="access.gotCatalogList">
                <a ui-sref="got_catalog.search">
                    <i class="fa fa-list"></i>
                    Got catalogs
                </a>
            </li>

            <li ng-if="access.stageList">
                <a ui-sref="stage.search">
                    <i class="fa fa-list"></i>
                    Stages
                </a>
            </li>
        </ul>
    </div>
</div>
