<ul class="nav navbar-collapse collapse navbar-collapse-primary" ng-controller="SidebarController">
    <li ng-class="{'active': current == 'dashboard'}">
        <span class="glow"></span>

        <a ui-sref="dashboard.home">
            <i class="icon-dashboard icon-2x"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <li ng-class="{'active': current == 'diary'}">
        <span class="glow"></span>

        <a ui-sref="diary.search">
            <i class="fa fa-list fa-2x"></i>
            <span>Diaries</span>
        </a>
    </li>

    <li  ng-class="{'active': current == 'order'}">
        <span class="glow"></span>

        <a ui-sref="order.search">
            <i class="fa fa-list fa-2x"></i>
            <span>Orders</span>
        </a>
    </li>

    <li ng-class="{'active': current == 'client'}">
        <span class="glow"></span>

        <a ui-sref="client.search">
            <i class="fa fa-list fa-2x"></i>
            <span>Clients</span>
        </a>
    </li>

    <li ng-class="{'active': current == 'factory'}">
        <span class="glow"></span>

        <a ui-sref="factory.search">
            <i class="fa fa-list fa-2x"></i>
            <span>Factories</span>
        </a>
    </li>

    <li>
        <span class="glow"></span>

        <a ui-sref="diary-type.search">
            <i class="fa fa-list fa-2x"></i>
            <span>Diary types</span>
        </a>
    </li>
</ul>